@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head><link rel="stylesheet" href="~/css/site.css"/></head>
<h2>Service Plan Portal</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.servicePlanTimesheets[0].ServicePlanDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.servicePlanTimesheets[0].DateOfPurchase)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.servicePlanTimesheets[0].TotalTimesheets)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.servicePlanTimesheets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServicePlanDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfPurchase)
                    </td>
                    <td class="num">
                        @Html.DisplayFor(modelItem => item.TotalTimesheets)
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <span style="font-family:Helvetica; text-align:center; font-size:12px;">Showing results for @Model.servicePlanTimesheets.Count Service Plan.</span><br />
</div>